:root {
  --dark-gray: #858293;
  --mid-gray: #d0d0d0;
  --light-gray: #dfdfdf;
  --orange: #ff8e2e;
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-orange {
  background-color: var(--orange);
}

.border-mid-gray {
  border: 1px solid var(--mid-gray);
}

.container {
  max-width: 450px !important;
}

.result {
  font-size: 1.5rem;
}
